/************ PROJECT TABLE ************/

.name {
  text-align: center;
}

.type {
  display: inline;
  font-size: 115%;
  padding-left: 1%;
  padding-right: 1%;
  font-weight: 350;
}

.logo {
  float: left;
  width: 30%;
  max-width: 100%;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 2%;
  text-align: center;
}

.description {
  float: left;
  width: 70%;
  max-width: 100%;
  padding-left: 2%;
  padding-right: 10%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/************ MOBILE ************/

@media screen and (max-width: 700px) {
  .logo, .description {
    width: 100%;
    padding-top: 10%;
    padding-left: 15%;
    padding-right: 15%;
  }
}
