/************ PROJECT TABLE ************/

.name {
  float: center;
  text-align: center;
  padding-bottom: max(3%, 50px);
  padding-left: max(2%, 40px);
  padding-right: max(2%, 40px);
}

.logo {
  float: center;
  text-align: center;
  width: 30%;
  padding-top: 3%;
  padding-left: max(2%, 40px);
  padding-right: max(2%, 20px);
}

.description {
  float: center;
  text-align: justify;
  width: 70%;
  padding-left: 2%;
  padding-right: 10%;

  .title {
    text-align: left;
  }
}

/************ MOBILE ************/

@media screen and (max-width: 700px) {
  .description, .logo {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;
  }
}
