section#about h1 {
  text-align: center;
  font-size: var(--heading-font-size);
  margin-bottom: 0;
}

section#about .card {
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 40px 100px rgba(0, 0, 0, 0.2);
  margin: 4% 10% 5% 10%;
  overflow: hidden;
}

section#about .cardContent {
  padding: max(5%, 30px);
}

section#about .title {
  text-align: left;
  font-size: var(--title-font-size);
  margin-bottom: 3%;
}

section#about .body {
  text-align: left;
  font-size: var(--body-font-size);
  margin-bottom: 3%;

  a {
    color: var(--link);
    text-decoration: none;
    position: relative;
    transition: all 0.2s ease-in-out 0s;
  }

  a:hover {
    color: var(--link-hover);
  }
}

@media only screen and (max-width: 999px) {
  section#about h1 {
    font-size: var(--mobile-heading-font-size);
  }

  section#about .title {
    font-size: var(--mobile-title-font-size);
  }

  section#about .body {
    font-size: var(--mobile-body-font-size);
  }
}
