/************ PIC & BIO COLUMNS ************/

.column-pic {
  width: 40%;
  padding-top: 10px;
  padding-left: 5%;
  padding-right: 2%;
  text-align: center;
  max-height: 550px;
  max-width: 100%;
  overflow: hidden;
}

.column-pic img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  display: block;
  margin: auto;
}

.column-bio {
  float: left;
  text-align: justify;
  width: 53%;
  max-width: 100%;
  padding-left: 1%;
  padding-right: 3%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.hide {
  display: None;
}

.name {
  text-align: center;
}

/************ MOBILE ************/

@media screen and (max-width: 700px) {
  .column-bio, .column-pic {
    width: 100%;
    padding-top: 10%;
    padding-left: 15%;
    padding-right: 15%;
  }

  .column-bio {
    padding-bottom: 15%;
  }
}