section#experience .card, section#projects .card, section#about .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 50px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
  margin: 40px 15% 80px;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
    img {
      width: auto;
      height: 100px;
    }
  }

  .cardContent {
    margin: max(3%, 20px);
  }

  .title {
    text-align: left;
    font-size: var(--title-font-size);
    margin-bottom: 3%;
  }
  
  .titleDate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--title-font-size);
  
    .title {
      margin-right: 20px;
    }
  
    .date {
      color: var(--date-color);
      font-size: var(--body-font-size);
      text-align: right;
      margin-left: auto;
    }
  }

  .body {
    text-align: left;
    font-size: var(--body-font-size);

    i {
      color: var(--date-color);
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  @media only screen and (max-width: 800px) {
    margin: 40px 8% 50px;

    .logo {
      img {
        height: 50px;
      }
    }

    .title {
      font-size: var(--mobile-title-font-size);
    }

    .titleDate {
      .date  {
        font-size: var(--mobile-body-font-size);
      }
    }

    .body  {
      font-size: var(--mobile-body-font-size);
    }
  }
}
