section#experience .card, section#projects .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
  margin: 4% 10% 5% 10%;
  overflow: hidden;

  a {
    color: var(--link);
    text-decoration: none;
    position: relative;
    transition: all 0.2s ease-in-out 0s;
    flex: 1;
  }

  a:hover {
    color: var(--link-hover);
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
    img {
      width: auto;
      height: 100px;
    }
  }

  .cardContent {
    padding: max(3%, 30px);
    margin-top: 0;
  }
  
  .titleDate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: calc(var(--exp-title-font-size));
  
    .title {
      margin-right: 20px;
    }
  
    .date {
      color: var(--exp-date-color);
      font-size: calc(var(--exp-date-font-size));
      text-align: right;
      margin-left: auto;
    }
  }

  .body {
    text-align: left;
    font-size: calc(var(--exp-body-font-size));

    i {
      color: var(--exp-date-color);
    }
  }

  @media only screen and (max-width: 999px) {
    .logo {
      img {
        height: 50px;
      }
    }

    .titleDate {
      .title {
        font-size: var(--mobile-title-font-size);
      }

      .date {
        font-size: var(--mobile-date-font-size);
      }
    }

    .body {
      font-size: var(--mobile-body-font-size);
    }
  }
}
