.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 5px 0 0 10px;
  position: fixed;
  height: 80px;
  background: transparent;
  transition: background 0.3s ease;
  z-index: 5;

  .logo {
    cursor: pointer;
    position: relative;
    
    img {
      width: 50px;
      height: auto;
      position: relative;
    }
  }

  .card {
    position: fixed;
    right: -70px;
    width: 500px;
    height: 55px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 40px 100px rgba(0, 0, 0, 0.2);
    margin: 25px;
    overflow: hidden;
    transition: margin-right 0.3s ease, width 0.3s ease, height 0.3s ease;
  }
  
  .cardContent {
    margin-left: -20px;
    margin-top: -15px;
  }

  .navItems {
    display: flex;
    gap: 30px;
    
    li {
      list-style: none;
    }
    
    a {
      text-decoration: none;
      font-size: var(--body-font-size);
      color: var(--link);
      transition: color 0.3s ease;

      &:hover,
      &:active {
        color: var(--link-hover);
      }

      &.active {
        color: var(--link-hover);
      }
    }
  }

  @media only screen and (max-width: 800px) {
    .card {
      border-radius: 30px;
      height: 55px;
      top: -6px;
      margin-right: -370px;

      &.menuOpen {
        width: 185px;
        height: 160px;
        margin-right: 35px;
      }
    }

    .cardContent {
      margin-left: -30px;
      margin-top: -12px;
    }

    .hamburger {
      display: flex;
      cursor: pointer;
      margin-top: 4px;
      margin-left: 28px;
    }

    .navItems {
      display: flex;
      flex-direction: column;
      gap: 8px;
      
      li {
        list-style: none;
      }
    }
  }

  .visible {
    display: flex;
  }

  .hidden {
    display: none;
  }
}
