/* Footer Component Styles */

.footer {
  padding: 20px;
  background: radial-gradient(
    ellipse,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0) 50%
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: 450px 170px;

  /* Icon container */
  .icons {
    display: flex;
    justify-content: center;
  }

  /* Individual footer icon */
  .footerIcon {
    height: 20px;
    width: 30px;
  }

  /* Footer text */
  .footerText {
    color: var(--link);
    text-align: center;
  }
}
