:root {
  --tab: black;
  --text: black;
  --highlight-text: white;
  --link: rgb(255, 121, 144);
  --link-hover: rgb(255, 57, 90);
  --date-color: gray;

  --heading-font-size: 80px;
  --title-font-size: 40px;
  --body-font-size: 20px;

  --mobile-heading-font-size: 40px;
  --mobile-title-font-size: 25px;
  --mobile-body-font-size: 15px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  position: relative;
  font-family: sans-serif;
}

a {
  color: var(--link);
  text-decoration: none;
  position: relative;
  transition: all 0.2s ease-in-out 0s;
}

a:hover {
  color: var(--link-hover);
}

.app {
  position: relative;
  min-height: 100vh;
  background-image: url('/background.png');
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 100vw;
}
